/*----------------------*
*         2015          *
*     STYLESHEET By:    *
*     RENAN NOGUEIRA    *
*----------------------*/


/* LOGIN BOX STYLE */

body {
    background-color: #dedede;
}

#loginBox {
    min-width: 300px;
    width: 20%;
    min-height, height: 400px; 
    background-color: #FFF;
    margin: 10% auto;
    border-top: 4px solid #e74c3c;
    padding: 10px 10px 50px 10px;
    
    // SHADOW
    -webkit-box-shadow: 0 1px 15px 2px #CCCCCC;
    box-shadow: 0 1px 15px 2px #CCCCCC;
}

#loginBox h1 {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 16px;
    color: #34495e;
    font-family: 'Verdana';
}

.loginTop {
    width: 100%;
}
.loginContent {
    width: 100%;
    height: 100%;
}

.userInput, .passInput {
    font-family: 'Verdana';
    width: 65%;
    min-height: 35px;
    font-size: 16px;
    padding: 5px;
    color: #95a5a6;
    border: #EEE;
    background-color: #FFF;
    margin-top: 10px;
    border: 1px solid #f2a29b;
    text-align: center;
}

.userInput:focus, .passInput:focus {
    border: 1px solid #e74c3c;  
    color: #2c3e50;
    outline: none;
    
    // TRANSITIONS
     -webkit-transition: border 1s ease;
    -moz-transition: border 1s ease;
    -ms-transition: border 1s ease;
    -o-transition: border 1s ease;
    transition: border 1s ease;
    
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}

/* BUTTON PATTERNS */

.button{
    margin-top: 25px;
    width: 70%;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Verdana';
    height: 45px;
    color: #FFF;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;   
}

.button:hover {
    outline: none;
    background-color: #FFF;
    color: #e74c3c;
    cursor: pointer;
    
    // TRANSIION
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -ms-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
}

.button:focus {
    outline: none;
}


/* MAIN PAGE CSS */

#content {
    width: 100%;
    height: 700px;
    background-color: #e74c3c; 
}

#content h1 {
    font-family: 'Verdana';
    font-size: 16px;
    color: #ecf0f1;
    padding-top: 20px;
}

#content .title {
    padding: 10px 10px 10px 90px;
    background-color: #2c3e50;
}

#clientList {
    width: 70%;
    height: auto;
    padding: 5px;
    margin: 10px auto;
    background-color: #FFF;
    -webkit-box-shadow: 0 5px 15px 2px #C9C9C9;
    box-shadow: 0 5px 15px 2px #C9C9C9;  
    border-top: 4px solid #e74c3c;
}

.listTitle {
    width: 98%;
    height: 40px;
    font-family: 'Verdana';
    font-size: 16px;
    border-bottom: 1px solid #95a5a6;
    color: #95a5a6;
    padding-top: 40px;
    padding-left: 1%;
}

.title {
    width: 100%;
    height: 40px;
    background-color: #211f1f;
    color: #FFF;
    font-family: 'Verdana';
    font-size: 16px;
    padding-top: 20px;
}

.titleCenter {
    width: 70%;
    margin: 0 auto;
}

.titleCenter h1 {
	float: left; 
	padding-right: 10%;
}

.nameTitle {
    width: 35%;
    height: 40px;
    float: left;
}

.emailTitle{
    width: 27%;
    height: 40px;
    float: left;
}


.telTitle{
    width: 15%;
    height: 40px;
    float: left;
}

.nascTitle{
    width: 20%;
    height: 40px;
    float: left;
}


.clientRow {
    position: relative;
    width: 98%;
    height: 25px;
    border-bottom: 1px solid #e74c3c;
    padding: 1%;
    padding-top: 20px;
    color: #2c3e50;
    font-family: 'Verdana';
    font-size: 14px; 
}

.rowName{
  float: left;
  width: 30%;
}

.emailText {
  	float: left;
  	width: 25%; 
  	padding-left: 5px;
}

.telText {
  	float: left;
  	width: 20%;
  	padding-left: 5px;
  	text-align: center;
}

.h1List{
    margin-top: 30px;
    margin-left: 15%;
    font-family: 'Verdana';
    font-size: 40px;
    color: #656565;
    
}

.dataNascText{
  	float: left;
  	width: 15%;
  	padding-left: 5px;
  	text-align: center;
}

.editButton {
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    margin-top: -5px;
}

.deleteButton {
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    margin-top: -8px;
    margin-right: 10px;
}

.signUpBox {
    width: 70%;
    height: 500px;
    margin: 0 auto;
    padding-top: 30px;
}

.cadastroInput {
    font-family: 'Verdana';
    width: 63%;
    min-height: 35px;
    font-size: 16px;
    padding: 5px;
    color: #ecf0f1;
    background-color: #e74c3c;
    margin-top: 10px;
    border: 1px solid #ecf0f1;
}

.cadastroInput:focus {
    border: 1px solid #FFF;  
    color: #FFF;
    outline: none;
    
    // TRANSITIONS
     -webkit-transition: border 1s ease;
    -moz-transition: border 1s ease;
    -ms-transition: border 1s ease;
    -o-transition: border 1s ease;
    transition: border 1s ease;
    
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}

.alterarInput {
    font-family: 'Verdana';
    width: 63%;
    min-height: 35px;
    font-size: 16px;
    padding: 5px;
    color: #ecf0f1;
    background-color: #3498db;
    margin-top: 10px;
    border: 1px solid #ecf0f1;
}

.alterarInput:focus {
    border: 1px solid #FFF;  
    color: #FFF;
    outline: none;
    
    // TRANSITIONS
     -webkit-transition: border 1s ease;
    -moz-transition: border 1s ease;
    -ms-transition: border 1s ease;
    -o-transition: border 1s ease;
    transition: border 1s ease;
    
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}


.num {
    float: left;
    width: 10%;
    margin-left: 8px;
    text-align: center;
}

.tel {
    width: 30%;   
}

.endereco {
    float: left;
    width: 63%; 
}

.data {
    width: 30%;
}

.buttonSign{
    margin-top: 25px;
    width: 20%;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Verdana';
    height: 50px;
    color: #e74c3c;
    background-color: #FFF;
    border: 1px solid #e74c3c;   
}

.buttonSign:hover {
    outline: none;
    background-color: #FFF;
    color: #e74c3c;
    cursor: pointer;
    
    // TRANSIION
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -ms-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
}

.buttonSign:focus {
    outline: none;
}

.buttonUpdt{
    margin-top: 25px;
    width: 20%;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Verdana';
    height: 50px;
    color: #3498db;
    background-color: #FFF;
    border: 1px solid #3498db;   
}

.buttonUpdt:hover {
    outline: none;
    background-color: #FFF;
    color: #3498db;
    cursor: pointer;
    
    // TRANSIION
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -ms-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
}

.buttonUpdt:focus {
    outline: none;
}

    
 /* MENU */

nav {
	float: left;
	
}

#menu ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#menu ul li { display: inline; }

#menu ul li a {
	padding: 0px 30px 22px 30px;
	display: inline-block;
 
	/* visual do link */
	color: #FFF;
	text-decoration: none;
	
}

.close {
    width: 40px;
    height:  40px;
    float: left;
    margin-top: -10px;
    margin-left: 65%;
    position: absolute;
}

#menu img {
    float: left;
}

/* SOLUTUDO COLORS ;0) */

#menu ul li a.pink:hover {
    border-bottom: 2px solid #FD0062;
    color: #FD0062;   
}

#menu ul li a.green:hover {
    border-bottom: 2px solid #8BAC00;
    color: #8BAC00;   
}

#menu ul li a.orange:hover {
    border-bottom: 2px solid #FF8601;
    color: #FF8601;   
}


::-webkit-input-placeholder {
    color: #FFF;
}

:-moz-placeholder { /* Firefox 18- */
    color: #FFF;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #FFF;  
}

:-ms-input-placeholder {  
    color: #FFF;  
}

.clientRow a {
    text-decoration: none;
    color: inherit;
}

.clientRow:hover {
   background-color: #f2f2f2; 
    
    // TRANSIION
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -ms-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
    
}

/* CLIENTS DATA */

#contentClient {
    width: 70%;
    height: 400px;
    background-color: #FFF;
    border-top: 4px solid #e74c3c;
    padding: 1%;
    margin: 25px auto;
    
    -webkit-box-shadow: 0 5px 15px 2px #C9C9C9;
    box-shadow: 0 5px 15px 2px #C9C9C9; 
}

#contentClient h1 {
    color: #7b7b7b;
    font-size: 40px;
    font-family: 'Verdana';
}

#contentClient h2 {
    color: #7b7b7b;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Verdana';
}

#content hr {
    border-top: 1px solid #d0d0d0;   
}

#contentUpdate {
    width: 100%;
    height: 700px;
    background-color: #3498db; 
}

#contentUpdate h1 {
    font-family: 'Verdana';
    font-size: 16px;
    color: #ecf0f1;
    padding-top: 20px;
}

#contentUpdate .title {
    padding: 10px 10px 10px 90px;
    background-color: #2c3e50;
}

#bottom {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    clear: both;
    font-family: 'Verdana';
    background-color: #211f1f;
    color: #FFF;
    padding-top: 20px;
    font-size: 12px;
}

#bottom h1 {
    margin: 10px auto;
}

#updates {
    width: 70%;
    height: auto;
    padding: 5px;
    margin: 10px auto;
    background-color: #FFF;
    -webkit-box-shadow: 0 5px 15px 2px #C9C9C9;
    box-shadow: 0 5px 15px 2px #C9C9C9;  
    border-top: 4px solid #e74c3c;     
}

#updates h1, #updates p {
    font-family: 'Verdana';
    font-size: 16px;
    color: #7b7b7b;
    padding-top: 10px;
}

#updates h1 {
    font-size: 20px;   
    
}



